.chart-wrapper { max-width: 1900px; margin: 0 auto; display: flex; flex-direction: column; gap: 10px; }
.chart-toolbar { display: flex; align-items: center; gap: 20px; background: var(--card); padding: 8px 15px; border-radius: 8px; border: 1px solid var(--border); overflow-x: auto; }
.scroll-container { position: relative; background: rgba(var(--card-rgb), var(--card-opacity)); border-radius: 10px; border: 1px solid var(--border); height: 250px; display: flex; }
.sticky-y-axis { width: 60px; background: rgba(var(--card-rgb), var(--card-opacity)); border-right: 1px solid var(--border); z-index: 20; position: relative; }
.abs-y-label { position: absolute; right: 10px; color: #94a3b8; font-size: 10px; transform: translateY(-50%); font-weight: 500; }
.main-scroll-view { flex: 1; overflow-x: auto; overflow-y: hidden; scrollbar-gutter: always; }
.main-scroll-view::-webkit-scrollbar { height: 16px; }
.main-scroll-view::-webkit-scrollbar-track { background: #0f172a; border-top: 35px solid var(--card); }
.main-scroll-view::-webkit-scrollbar-thumb { background: #475569; border-radius: 10px; border: 3px solid #0f172a; }
.col-content::-webkit-scrollbar { height: 16px; }
.col-content::-webkit-scrollbar-track { background: #0f172a; }
.col-content::-webkit-scrollbar-thumb { background: #475569; border-radius: 10px; border: 3px solid #0f172a; }
.chart-toolbar::-webkit-scrollbar { height: 16px; }
.chart-toolbar::-webkit-scrollbar-track { background: #0f172a; }
.chart-toolbar::-webkit-scrollbar-thumb { background: #475569; border-radius: 10px; border: 3px solid #0f172a; }
.canvas-sizer { height: calc(100% - 35px); position: relative; min-width: 500px; }
